1. 여러개의 엑셀 파일을 읽어 하나의 데이터프레임으로 만들기

In [1]:
import pandas as pd
import glob

In [3]:
files = glob.glob('./data/재고_*.xlsx')
print(files)

merge_df = pd.DataFrame()                           # 빈 데이터프레임 만들기 
for file in files:                                  # 반복문으로 파일 읽어오기
    df_from_excel = pd.read_excel(file)
    df_from_excel['재고위치'] = file.split('/')[1].split('\\')[1].split('.')[0]  # 파일명에서 재고위치 추출
    merge_df = pd.concat([merge_df,df_from_excel])

merge_df

['./data\\재고_1층교실.xlsx', './data\\재고_식당.xlsx', './data\\재고_체육관.xlsx']

   번호   품목  수량         날짜     재고위치
0   1   의자  20 2015-06-08  재고_1층교실
1   2  모니터  10 2021-01-03  재고_1층교실
2   3   책상  10 2022-05-05  재고_1층교실
3   4  정수기   2 2021-04-16  재고_1층교실
0   1   의자  50 2012-10-05    재고_식당
1   2   국자  20 2021-01-03    재고_식당
2   3   TV   2 2022-05-05    재고_식당
0   1   의자  12 2010-10-10   재고_체육관
1   2  축구공  20 2020-05-05   재고_체육관
2   3  농구공  12 2012-09-08   재고_체육관
3   4   네트   2 2015-01-03   재고_체육관

2. 특정 날짜 이전의 재고 파악하기

In [4]:
filter_df = merge_df[merge_df['날짜'] < '2015-01-01']
filter_df

   번호   품목  수량         날짜    재고위치
0   1   의자  50 2012-10-05   재고_식당
0   1   의자  12 2010-10-10  재고_체육관
2   3  농구공  12 2012-09-08  재고_체육관

In [5]:
# 특정 기간의 재고 수향이 15개 미만일 경우 엑셀로 저장하기 
filter_df = merge_df[merge_df['날짜'].between('2012-1-1', '2015-12-31')]
filter_df = filter_df[filter_df['수량'] < 15]

filter_df.to_excel('날짜_수량.xlsx')

filter_df

   번호   품목  수량         날짜    재고위치
2   3  농구공  12 2012-09-08  재고_체육관
3   4   네트   2 2015-01-03  재고_체육관